/*Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
  background-color: #23395B;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

#page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* Elements del menu superior*/
#logoMenu {
  margin-right: 5rem;
  font-weight: bold;
}

#logoMenuImg{
  max-height:45px;
  max-width:45px;
}

#menuTop {
  background: #171a21;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  /*Aquest valor és 3 perqué els indicadors de imatge del carousel és mostrarien per sobre si fos menys*/
  z-index: 3;
}

#menuTopContent > ul {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  list-style: none;
  background: #171a21;
  flex-wrap: wrap;
  word-break: break-word;
}

#menuTopContent ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
}

#menuTopContent ul li a:hover {
  background-color: black;
  color: white;
}
/* Menu desplegable */
#menuTopContent ul ul {
  display:none;
  background:#eee;
  padding:0;
}

#menuTopContent ul ul li {
  float:none;
  width:150px;
}

#menuTopContent ul ul a {
  line-height:120%;
  padding:10px 15px;
  display: flex;
}
/*Si l'usuari passa per a sobre de l'apartat mostrarem el menu desplegable*/
#menuTopContent ul li:hover > ul {
  display:block;
  position: absolute;
  background-color: #171a21;
  z-index: 1;
}
/*Elements del carousel*/
#carouselContainer {
  display: flex;
  background: rgb(142,168,195);
  background: radial-gradient(circle, rgba(142,168,195,1) 21%, rgba(64,110,142,1) 47%, rgba(35,57,91,1) 79%, rgba(22,25,37,1) 100%);
  justify-content: center;
}

#carouselExampleCaptions {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 1000px;
}

#sideMenu {
  position: absolute;
}
/*Marge de la web déspres del carousel*/
#standartWeb {
  max-width: 1000px;
  margin: auto;
}

#standartWeb a {
  text-decoration: none;
}
/*Buttons*/
#commonSections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

#commonButton {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #161925;
  background: rgb(57,114,148);
  background: linear-gradient(18deg, rgba(57,114,148,1) 0%, rgba(24,223,238,1) 100%);
  color: white;
}

#commonButton:hover {
  background: rgb(45,138,194);
  background: linear-gradient(18deg, rgba(45,138,194,1) 0%, rgba(0,255,249,1) 100%);
}
/*Contenidor dels jocs*/
#showFeatured {
  padding-bottom: 20px;
}

/* Elements per a mostrar cada joc*/
#gameFeatured{
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: #161925;
  margin-top: 10px;
  background: rgb(35,57,91);
  background: linear-gradient(45deg, rgba(35,57,91,1) 0%, rgba(64,110,142,1) 19%, rgba(40,65,99,1) 38%, rgba(64,110,142,1) 59%, rgba(40,65,99,1) 76%, rgba(64,110,142,1) 97%);
}

#gameContent {
  display: grid;
  grid-template-rows: 70% 30%;
}

#gameDescription {
  padding: 10px;
  min-width: 725px;
}

#showFeatured img{
  max-height:1700px;
  max-width:1700px;
  width: 100%;
  /*De normal sense això es renderitzaria la imatge com si fos text, això faria que aparegues un píxel buit a sota. Ja que algunes lletres ocupen per sota de la línia. Ej: j,q...*/
  vertical-align: middle;
}

#priceTag {
  display: flex;
  background: rgb(57,114,148);
  background: linear-gradient(18deg, rgba(57,114,148,1) 0%, rgba(24,223,238,1) 100%);
  align-items: center;
  justify-content: space-between;

}

#priceTag > div {
  display: flex;
  flex-direction: row;
}

#offerTag {
  margin-left: 20px;
  padding: 5px;
  background: rgb(36,147,93);
  background: linear-gradient(45deg, rgba(36,147,93,1) 0%, rgba(13,249,69,1) 100%);
}

#offerPriceTag {
  padding: 5px;
  min-width: 320px;
  text-align: center;
  background: rgb(94,133,114);
  background: linear-gradient(45deg, rgba(94,133,114,1) 0%, rgba(102,182,121,1) 100%);
}

#buyButton {
  min-width: 275px;
  text-align: center;
  padding: 5px;
  background: rgb(36,147,93);
  background: linear-gradient(45deg, rgba(36,147,93,1) 0%, rgba(13,249,69,1) 100%);
  margin-right: 20px;
  color: white;
}

#buyButton:hover {
  background: rgb(14,140,47);
  background: linear-gradient(45deg, rgba(14,140,47,1) 0%, rgba(94,255,79,1) 100%);
}
/* En un inici la imatge del joc estara amagada*/
#gameImg {
  display: none;
}
/* En un inici el gif del joc estara amagat*/
#gamePreview {
  display: none;
  min-width: 273px;
  min-height: 153px;
}
/* Botó per a tornar a l'inici de la pàgina*/
#topButton{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #161925;
  background: rgb(57,114,148);
  background: linear-gradient(18deg, rgba(57,114,148,1) 0%, rgba(24,223,238,1) 100%);
  color: white;
}

#topButton:hover {
  background: rgb(45,138,194);
  background: linear-gradient(18deg, rgba(45,138,194,1) 0%, rgba(0,255,249,1) 100%);
}

/* Media querys pàgina principal*/

@media only screen and (max-width:745px){
  #menuTop {
    position: relative;
    top: auto;
  }
}
/* Posarem els divs de cada joc en columnes*/
@media only screen and (max-width:900px){
  #gameFeatured{
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/*Si la pàgina és massa petita farem que el menú es mostri en columna*/
@media only screen and (max-width:745px){
  #menuTopContent > ul{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
/*Amagarem el logo per a que no interfereixi amb el menú  en columna*/
@media only screen and (max-width:745px){
  #logoMenu, #logoMenuImg{
    margin-right: 0px;
    display: none;
  }
}

@media only screen and (max-width:715px){
  #commonSections{
    flex-direction: column;
  }
}
/* D'aquesta manera el tamany minim de la imatge no afectara al fer la pantalla més petita*/
@media only screen and (max-width:1000px){
  #gameDescription{
    min-width: 0px;
  }
}
/*Imatge del joc sense gif*/
@media only screen and (max-width:889px){
  #gameImg{
    display: block;
  }
}

@media only screen and (min-width:900px) and (max-width: 1000px){
  #showFeatured img{
    width: 273px;
    height: 153px;
    vertical-align: middle;
  }
}
/*Si la web no está en el tamany més gran farem que les imatges no canviïn a un gif,
ja que el gif no s'ajustaria al tamany de la imatge*/
@media only screen and (min-width:890px){
  #gamePreview{
    display: block;
  }
}

@media only screen and (max-width:999px){
  #buyButton{
    min-width: 0px;
  }
}

@media only screen and (max-width:999px){
  #offerPriceTag{
    min-width: 0px;
  }
}

/*Elements de la pàgina de compra*/

#gameContainerBuyPage {
  display: flex;
  justify-content: center;
  background: rgb(142,168,195);
  background: radial-gradient(circle, rgba(142,168,195,1) 21%, rgba(64,110,142,1) 47%, rgba(35,57,91,1) 79%, rgba(22,25,37,1) 100%);
}

#trailerGame {
  display: flex;
  justify-content: center;
}

#trailerFrame {
  width: 698px;
  height: 392px;
}

#gameBuyPage {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  border-width: 1px;
  border-color: #161925;
  border-style: solid;
}
/* D'aquesta manera la imatge ocupara el que pugui del div on es trobi*/
#gameImgBuyPage {
  max-width:100%;
  max-height:100%;
  margin-bottom: 20px;
}
/* Justifiquem el text*/
#gameDescriptionBuyPage {
  margin: 20px;
  text-align: justify;
}

#reviewsText {
  margin-top: 20px;
}

#reviewsText a {
  text-decoration: none;
  color: #23395b;
  transition: 2s;
}

#reviewsText a:hover {
  text-decoration: none;
  color: #161925;
}

#carouselExampleCaptions{
  margin-right: 0px;
  margin-left: 0px;
}

#gameFeaturedBuyPage{
  display: flex;
  justify-content: space-between;
  background: #3e6b8b;
}

#gameBuySection {
  display: grid;
  grid-template-rows: 70% 30%;
  min-width: 1000px;
  background: rgb(57,114,148);
  background: linear-gradient(18deg, rgba(57,114,148,1) 0%, rgba(24,223,238,1) 100%);
}

#priceTagGameBuy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#priceTagGameBuy > div {
  display: flex;
  flex-direction: row;
}

#offerTagGameBuy {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 5px;
  background: rgb(36,147,93);
  background: linear-gradient(45deg, rgba(36,147,93,1) 0%, rgba(13,249,69,1) 100%);
}

#offerPriceTagGameBuy {
  padding: 5px;
  min-width: 320px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(94,133,114);
  background: linear-gradient(45deg, rgba(94,133,114,1) 0%, rgba(102,182,121,1) 100%);
}

#buyButtonGameBuy {
  min-width: 275px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(36,147,93);
  background: linear-gradient(45deg, rgba(36,147,93,1) 0%, rgba(13,249,69,1) 100%);
  margin-right: 20px;
  color: white;
}

#buyButtonGameBuy:hover {
  background: rgb(14,140,47);
  background: linear-gradient(45deg, rgba(14,140,47,1) 0%, rgba(94,255,79,1) 100%);
}

/*Media querys pàgina de compra */

@media only screen and (max-width:1000px){
  #gameBuyPage, #gameBuySection{
    min-width: 0;
  }
}

@media only screen and (max-width:1000px){
  #gameBuyPage{
    grid-template-columns: auto;
  }
}

@media only screen and (max-width:1000px){
  #offerPriceTagGameBuy, #buyButtonGameBuy{
    min-width: 0px;
  }
}

@media only screen and (max-width:700px){
  #trailerFrame{
    width: 550px;
    height: 250px;
  }
}

@media only screen and (max-width:550px){
  #trailerFrame{
    width: 450px;
  }
}
